# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub recommends pinning actions to a commit SHA.
# To get a newer version, you will need to update the SHA.
# You can also reference a tag or branch, but the action may change without warning.

name: Publish image in Docker Hub

on:
  release:
    types: [published]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Generate combined Dockerfile
        run: |
          set -e
          echo "### Generating unified Dockerfile ###"

          if [ ! -f docker/images/Dockerfile.base ] || [ ! -f docker/images/Dockerfile.prod ]; then
            echo "âŒ ERROR: Dockerfile.base or Dockerfile.prod not found!"
            exit 1
          fi

          cat docker/images/Dockerfile.base > docker/images/Dockerfile.merged
          echo "" >> docker/images/Dockerfile.merged
          grep -v '^FROM base' docker/images/Dockerfile.prod >> docker/images/Dockerfile.merged

      - name: Build and push Docker image to DockerHub
        run: |
          docker build --build-arg VERSION_TAG=${{ github.event.release.tag_name }} -t drorganvidez/flasky:${{ github.event.release.tag_name }} -f docker/images/Dockerfile.merged .
          docker push drorganvidez/flasky:${{ github.event.release.tag_name }}

      - name: Tag and push latest to Docker Hub
        run: |
          docker tag drorganvidez/flasky:${{ github.event.release.tag_name }} drorganvidez/flasky:latest
          docker push drorganvidez/flasky:latest
